@import url(https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto&display=swap);
* {
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}
h1 {
  font-family: "PT Serif", serif;
}
.form-item {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  font-family: Roboto, sans-serif;
  background-color: transparent;
  margin: 20px;
  color: #fff;
}
.form-item input {
  background-color: transparent;
  border: 0;
  border-bottom: #fff solid;
  width: 150px;
  padding: 10px 0;
  font-size: 15px;
  color: #fff;
}
.container {
  background-color: rgb(68, 86, 128);
  padding: 30px 50px;
  border-radius: 5px;
  width: 75%;
  display: block;
}
.container h1 {
  text-align: center;
  margin-bottom: 30px;
}
.input {
  width: 100%;
}
.button {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: #add8e6;
  padding: 15px;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}
.button:active {
  transform: scale(0.98);
}
.text {
  margin-top: 20px;
}
::placeholder {
  font-family: "PT Serif", serif;
  color: #000;
}