/** @format */

@import url(https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto&display=swap);
* {
	box-sizing: border-box;
	font-family: "PT Serif", serif;
}
body {
	font-family: "PT Serif", serif;
	background-color: #000;
	color: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	overflow: scroll;
}
.form-item {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	justify-content: center;
	background-color: transparent;
	color: #fff;
	gap: 20px;
}
.form-item input {
	background-color: transparent;
	border: 0;
	border-bottom: #fff solid;
	font-size: 2vw;
	margin: 20px 20px 10px 20px;
	color: #fff;
}
.container {
	background-color: rgb(18, 167, 183);
	padding: 30px 50px;
	border-radius: 5px;
	width: 75%;
	display: block;
}
.container h1 {
	text-align: center;
	font-size: 4vw;
}
.input {
	width: 100%;
}
.button {
	cursor: pointer;
	display: inline-block;
	width: 10em;
	background: #add8e6;
	padding: 15px;
	margin: 10px 20px 20px 20px;
	font-size: 15px;
	border: 0;
	border-radius: 5px;
	/* font-family: "PT Serif", serif; */
	font-size: 2vw;
}
.button:active {
	transform: scale(0.98);
}
.text {
	margin: 20px 20px 20px 20px;
	color: #000;
	font-size: 2vw;
}
::placeholder {
	color: #000;
}
